In [60]:
import numpy as np
import pandas as pd
import os
import sys
sys.path.append(os.path.abspath("../../"))
import Utilities as utils
import Constants as c
%matplotlib inline

In [77]:
results = "calculate_metrics_h1_ML_combined.csv" 
columns = [c.PROJECT, c.R_SQUARED, c.R_SQUARED_ADJ, c.MAE, c.PRED_25, c.PRED_50, c.T_RECORDS, c.MODEL]
df = pd.read_csv(results, usecols=columns)
pd.options.display.float_format = "{:.2f}".format
df = df.dropna(subset=[c.R_SQUARED])
df_module = df[df[c.MODEL] == c.MODULE]
df_module.describe()
# df_module = df[df[c.R_SQUARED].isnull()]
# df_module.head(18)
# print(len(df_module))

       R_Squared  R_Squared_Adj     MAE  PRED_25  PRED_50  T_Records
count     440.00         440.00  440.00   438.00   438.00     440.00
mean       -1.89          -1.16  165.07     0.57     0.73      93.79
std        15.66          27.37  510.73     0.27     0.21     106.84
min      -202.63        -406.26    0.00     0.00     0.00       5.00
25%        -0.13          -0.24    4.88     0.39     0.60      25.00
50%         0.49           0.52   20.95     0.60     0.76      58.00
75%         0.86           0.94   92.16     0.78     0.90     126.25
max         1.00         291.66 6225.05     1.00     1.00     887.00

In [79]:
df_line = df[df[c.MODEL] == c.LINE]
df_line.describe()

       R_Squared  R_Squared_Adj       MAE  PRED_25  PRED_50  T_Records
count     440.00         440.00    440.00   437.00   437.00     440.00
mean     -212.64        -196.82  14624.42     0.39     0.52      93.79
std      2904.36        4012.40  53231.15     0.27     0.26     106.84
min    -58251.06      -81551.88      0.00     0.00     0.00       5.00
25%        -0.49          -0.82    171.93     0.20     0.36      25.00
50%         0.17           0.18   1009.16     0.37     0.53      58.00
75%         0.70           0.73   6488.35     0.58     0.71     126.25
max         1.00       14928.38 544151.79     1.00     1.00     887.00