In [16]:
import numpy as np
import pandas as pd
import os
import sys
sys.path.append(os.path.abspath("../../../../"))
import Constants as c
import Utilities as utils
%matplotlib inline

In [17]:
results = "calculate_metrics_h1_DT_05_27_2020.csv"
columns = [c.MODEL, c.R_SQUARED, c.MAE, c.PRED_25, c.PRED_50, c.T_RECORDS, c.T_RECORDS, "P_NA"]
df = pd.read_csv(results, usecols=columns)
pd.options.display.float_format = "{:.2f}".format
df_module = df[df[c.MODEL] == c.MODULE]
df_module.describe()

       R_Squared      MAE  PRED_25  PRED_50  T_Records    P_NA
count    1728.00  1728.00  1728.00  1728.00    1728.00 1728.00
mean        0.68    56.71     0.85     0.89     269.34    0.77
std         0.37   557.91     0.16     0.11     244.88    0.24
min        -0.14     0.00     0.15     0.30      22.00    0.01
25%         0.47     0.11     0.76     0.84     134.75    0.62
50%         0.86     1.37     0.91     0.93     196.50    0.85
75%         0.98     9.21     0.98     0.98     303.75    0.96
max         1.00 20013.52     1.00     1.00    1504.00    1.00

In [18]:
df_line = df[df[c.MODEL] == c.LINE]
df_line.describe()

       R_Squared       MAE  PRED_25  PRED_50  T_Records    P_NA
count    1728.00   1728.00  1728.00  1728.00    1728.00 1728.00
mean        0.59   3480.88     0.82     0.86     269.34    0.77
std         0.39  20784.01     0.19     0.15     244.88    0.24
min        -0.11      0.00     0.16     0.20      22.00    0.01
25%         0.19      2.11     0.73     0.78     134.75    0.62
50%         0.72     52.72     0.89     0.91     196.50    0.85
75%         0.97    464.37     0.98     0.98     303.75    0.96
max         1.00 433164.04     1.00     1.00    1504.00    1.00